In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mission_data = pd.read_csv('/Users/whuard/Desktop/General_Assembly/DS-interview-challenge/data/mission_data.csv')
mission_data.head()

            robotid             datetime  nmssn  runm  chrgm  pausem outcome
0  000NG2FMLJBT9ANZ  2017-10-01 16:17:22     40     3      1       2   stuck
1  000NG2FMLJBT9ANZ  2017-10-03 14:25:56     41    83      0      13      ok
2  000NG2FMLJBT9ANZ  2017-10-04 12:32:51     42    66     13      12      ok
3  000NG2FMLJBT9ANZ  2017-10-26 02:12:55     45    72     24       0    cncl
4  000NG2FMLJBT9ANZ  2017-10-27 07:17:39     46    61      9       0    cncl

In [3]:
mission_data.shape

(367679, 7)

In [4]:
geo_data = pd.read_csv('/Users/whuard/Desktop/General_Assembly/DS-interview-challenge/data/geo_data.csv')

In [5]:
geo_data.head()

  country_cd          timezone           robotid
0         SE  Europe/Stockholm  T29NF13ZIYISNF79
1         JP        Asia/Tokyo  9S12V26O6G426OYR
2         IL    Asia/Jerusalem  QI6X3P9JKNILKKU1
3         IL    Asia/Jerusalem  7OMKNWMWA4XWC911
4         IL    Asia/Jerusalem  YO63CL0ZFK83SYCZ

In [6]:
geo_data.shape

(10000, 3)